In [3]:
import pandas as pd
import numpy as np

# Number of days
num_days = 20
# Number of 5-minute intervals per day
num_intervals_per_day = 288
# Total number of intervals
total_intervals = num_days * num_intervals_per_day

# Generate datetime values with 5-minute intervals
start_date = pd.Timestamp('2024-01-01')
date_range = pd.date_range(start=start_date, periods=total_intervals, freq='5min')

# Generate random data
data = np.random.randn(total_intervals)

# Create DataFrame
df = pd.DataFrame({'Date': date_range,
                   'Value': data})

print(df.head())

                 Date     Value
0 2024-01-01 00:00:00  0.167070
1 2024-01-01 00:05:00  0.828271
2 2024-01-01 00:10:00  2.203527
3 2024-01-01 00:15:00 -0.824016
4 2024-01-01 00:20:00 -0.877300

In [10]:
# Shuffle the datetime values
shuffled_dates = np.random.permutation(date_range)
shuffled_dates

array(['2024-01-06T12:00:00.000000000', '2024-01-08T15:25:00.000000000',
       '2024-01-02T04:25:00.000000000', ...,
       '2024-01-06T22:30:00.000000000', '2024-01-07T22:50:00.000000000',
       '2024-01-12T13:15:00.000000000'], dtype='datetime64[ns]')

In [7]:
# Shuffle the datetime values
shuffled_dates = np.random.permutation(date_range)

# Split into 18 days and 2 days
train_dates = shuffled_dates[:18 * num_intervals_per_day]
test_dates = shuffled_dates[18 * num_intervals_per_day:]

# Split the DataFrame based on the datetime values
train_df = df[df['Date'].isin(train_dates)]
test_df = df[df['Date'].isin(test_dates)]

print("Train DataFrame:")
print(train_df.head())
print("\nTest DataFrame:")
print(test_df.head())

Train DataFrame:
                 Date     Value
0 2024-01-01 00:00:00  0.167070
1 2024-01-01 00:05:00  0.828271
2 2024-01-01 00:10:00  2.203527
3 2024-01-01 00:15:00 -0.824016
4 2024-01-01 00:20:00 -0.877300

Test DataFrame:
                  Date     Value
5  2024-01-01 00:25:00 -1.358815
10 2024-01-01 00:50:00  1.156984
16 2024-01-01 01:20:00 -1.052727
17 2024-01-01 01:25:00  2.087777
18 2024-01-01 01:30:00 -0.709367

In [32]:
import pandas as pd
import numpy as np

# Number of days
num_days = 20
# Number of 5-minute intervals per day
num_intervals_per_day = 288
# Total number of intervals
total_intervals = num_days * num_intervals_per_day

# Generate datetime values with 5-minute intervals
start_date = pd.Timestamp('2024-01-01')
date_range = pd.date_range(start=start_date, periods=total_intervals, freq='5min')

# Generate random data
data = np.random.randn(total_intervals)

# Create DataFrame
df = pd.DataFrame({'Date': date_range,
                   'Value': data})

# Shuffle the dates
shuffled_dates = np.random.permutation(pd.unique(df['Date'].dt.date))

# Split into 18 days and 2 days
train_dates = shuffled_dates[:18]
test_dates = shuffled_dates[18:]

# Filter DataFrame based on the selected dates
train_df = df[df['Date'].dt.date.isin(train_dates)]
test_df = df[df['Date'].dt.date.isin(test_dates)]

train_df

                    Date     Value
0    2024-01-01 00:00:00  1.344601
1    2024-01-01 00:05:00 -0.610911
2    2024-01-01 00:10:00  1.582275
3    2024-01-01 00:15:00 -1.045392
4    2024-01-01 00:20:00  0.730094
...                  ...       ...
5755 2024-01-20 23:35:00 -0.431591
5756 2024-01-20 23:40:00  0.296077
5757 2024-01-20 23:45:00 -0.030689
5758 2024-01-20 23:50:00 -0.816479
5759 2024-01-20 23:55:00 -0.607030

[5184 rows x 2 columns]

In [34]:
train_df[train_df['Date'].dt.date == train_dates[0]]

                    Date     Value
3744 2024-01-14 00:00:00 -0.109239
3745 2024-01-14 00:05:00 -0.552692
3746 2024-01-14 00:10:00 -0.530469
3747 2024-01-14 00:15:00  0.863294
3748 2024-01-14 00:20:00 -0.017770
...                  ...       ...
4027 2024-01-14 23:35:00  0.356754
4028 2024-01-14 23:40:00 -0.639320
4029 2024-01-14 23:45:00  2.146873
4030 2024-01-14 23:50:00  0.419253
4031 2024-01-14 23:55:00 -0.859485

[288 rows x 2 columns]

In [36]:
test_df[test_df['Date'].dt.date == test_dates[0]]

                    Date     Value
4896 2024-01-18 00:00:00  1.115834
4897 2024-01-18 00:05:00 -0.754016
4898 2024-01-18 00:10:00 -0.650135
4899 2024-01-18 00:15:00 -0.090983
4900 2024-01-18 00:20:00 -1.831755
...                  ...       ...
5179 2024-01-18 23:35:00  1.542716
5180 2024-01-18 23:40:00 -0.106572
5181 2024-01-18 23:45:00 -0.769956
5182 2024-01-18 23:50:00 -0.730585
5183 2024-01-18 23:55:00  1.256858

[288 rows x 2 columns]

In [37]:
test_df

                    Date     Value
2880 2024-01-11 00:00:00  0.752054
2881 2024-01-11 00:05:00 -0.399945
2882 2024-01-11 00:10:00  0.199188
2883 2024-01-11 00:15:00  1.272279
2884 2024-01-11 00:20:00  1.095967
...                  ...       ...
5179 2024-01-18 23:35:00  1.542716
5180 2024-01-18 23:40:00 -0.106572
5181 2024-01-18 23:45:00 -0.769956
5182 2024-01-18 23:50:00 -0.730585
5183 2024-01-18 23:55:00  1.256858

[576 rows x 2 columns]

In [20]:
import numpy as np
arr1 = np.array([1, 2, 3, 4, 5])
arr2 = np.array([1, 2, 4, 4, 5])

err_pct = np.mean(np.abs(arr2 - arr1) / arr1) * 100
mae = np.mean(np.abs(arr2 - arr1))
mse = np.mean((arr2 - arr1) ** 2)
rmse = np.sqrt(mse)

print(f"Error Percentage: {err_pct:.2f}%")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"Mean Squared Error: {mse:.2f}")
print(f"Root Mean Squared Error: {rmse:.2f}")

Error Percentage: 6.67%
Mean Absolute Error: 0.20
Mean Squared Error: 0.20
Root Mean Squared Error: 0.45

In [22]:
import numpy as np

# Generate some sample data
y_true = np.array([1, 2, 3, 4, 5])
y_pred = np.array([1.5, 2.5, 2.8, 4.2, 4.9])

y_true = np.array([1, 2, 3, 4, 5])
y_pred = np.array([1, 2, 4, 4, 5])

# Calculate the MAE
mae = np.mean(np.abs(y_true - y_pred))
mape = np.mean(np.abs((y_pred - y_true) / y_true)) * 100
rmse = np.sqrt(np.mean((y_true - y_pred) ** 2))

print("Mean Absolute Error:", mae)
print("Mean Absolute Percentage Error:", mape)
print("Root Mean Squared Error:", rmse)

Mean Absolute Error: 0.2
Mean Absolute Percentage Error: 6.666666666666667
Root Mean Squared Error: 0.4472135954999579